<!doctype html>
<html lang="en" class="h-100">
  <head>
    <%- 
    include('./component/meta', {
      appTitle: appTitle, 
      appDescription: appDescription, 
      ogTitle: ogTitle, 
      ogDescription: ogDescription, 
      ogUrl: ogUrl, 
      ogImage: ogImage
    }); 
    -%>
  </head>
  <body class="d-flex text-white bg-dark" style="min-height: 100%;">
    
    <div class="container d-flex w-100 p-3 mx-auto flex-column" style="min-height: 100%; max-width: 72em;padding-bottom: 100px!important;">
      <%- include('./component/header'); -%>
      <main class="px-3" style="min-height: 100%;">
      
      <h1 class="superbig upper text-center pixel-font"><a style="color:#ffff00;" href="/"><%= collection_name %></a></h1>
      <h2 class="minibig upper text-center pixel-font">rarity</h2>
      <div style="margin-bottom: 50px;text-align: center;">
        <a style="font-size: 25px;color: #fff;margin: 10px;" href="https://www.toridoge.xyz/" title="Tori Doge" target="_blank"><i class="bi bi-globe2"></i></a>
        <a style="font-size: 25px;color: #fff;margin: 10px;" href="https://www.equinoxdao.xyz/" title="EquinoxDAO" target="_blank"><i class="bi bi-globe2"></i></a>
        <a style="font-size: 25px;color: #fff;margin: 10px;" href="https://twitter.com/Tori_Doge" title="Twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a style="font-size: 25px;color: #fff;margin: 10px;" href="https://discord.com/invite/Q78vQrQChT" title="Discord" target="_blank"><i class="bi bi-discord"></i></a>
       </div>
       <div class="text-center a-btn">
        <a class="b-btn btn t1-btn <% if (activeTab == 'rarity') { %> active <% } %>" href="/">
            RARITY 
        </a>
        <a class="b-btn btn t2-btn <% if (activeTab == 'matrix') { %> active <% } %>" href="/matrix">
            MATRIX 
        </a>
       </div>
      
        <div style="max-width: 42rem; margin-top: 5rem; margin-left: auto; margin-right: auto;">
          <div class="row">
            <% if (!_.isEmpty(punk)) { %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-2" style="padding-left: 30px; padding-right: 30px;">
              <div style="background: #fff;padding: 10px;border-radius: 10px;">
                <h3 class="punk-rank">Rank #<%= punk.rarity_rank %></h3>
                <% if (content_image_is_video) { %>
                <video class="punk-avatar" style="<% if (content_image_frame=='rectangle') { %> border-radius: 10px; <% } %>" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" /></video>
                <% } else { %>
                <img class="punk-avatar" style="<% if (content_image_frame=='rectangle') { %> border-radius: 10px; <% } %>" src="<%= punk.image.replace('ipfs://', 'https://ipfs.io/ipfs/'); %>" alt="<%= punk.name %>" />
                <% } %>
                <div class="punk-info text-center mt-4">
                  <span><%= punk.name %></span>
                </div>
                
                <div class="mt-3 mb-3" style="margin-bottom:0!important;">
                <!--
                <div class="punk-description dont-break-out">
                  <%- md.render(punk.description) %>
                </div>
                -->
                <% if (!_.isEmpty(collection_contract_address)) { %>
                <a class="view-on-link" href="https://app.teritori.com/marketplace" target="_blank">
                  <div class="view-on-block text-center pixel-font" style="font-size:1.6rem;">
                    BUY
                  </div>
                </a>
                <% } %>
                <% if (!_.isEmpty(punk.external_url)) { %>
                <a class="view-on-link" href="<%= punk.external_url %>" target="_blank">
                  <div class="view-on-block text-center">
                    <img class="view-on-icon" src="/images/profile@32w.png">
                    View on Official Site
                  </div>
                </a>
                <% } %>
                <%
                let jsonUrl = punk.id+'/json';
                if (trait_normalization == 1) {
                  jsonUrl = jsonUrl+'?trait_normalization=1';
                }
                let similarUrl = punk.id+'/similar';
                if (trait_normalization == 1) {
                  similarUrl = similarUrl+'?trait_normalization=1';
                }
                %>
                <div class="row">
                  <div class="col-6" style="padding-right: 5px;">
                    <a class="view-on-link" href="/<%= item_path_name %>/<%= jsonUrl %>" target="_blank">
                      <div class="view-on-block text-center pixel-font" style="margin-bottom:0;">
                        JSON
                      </div>
                    </a>
                  </div>
                  <div class="col-6" style="padding-left: 5px;">
                    <a class="view-on-link" href="/<%= item_path_name %>/<%= similarUrl %>">
                      <div class="view-on-block text-center pixel-font" style="margin-bottom:0;">
                        SIMILAR
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
                
              </div>
              
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-2" style="background: #fff;padding: 10px;border-radius: 10px;">
              <div class="rarity-score-block">
                <h4 class="text-center">Rarity Score</h4>
                <div class="rarity-score-sum">
                    <%= punkScore.rarity_sum.toFixed(2) %>
                </div>
              </div>
              <% allTraitTypes.forEach(function(traitType) { %>
                <div class="mt-4">
                  <div class="row">
                    <div class="col-6">
                      <h3 class="trait-type"><%= traitType.trait_type %></h3>
                    </div>
                    <div class="col-6 trait-type-rarity">
                      +<%= punkScore['trait_type_'+traitType.id+'_rarity'].toFixed(2) %>
                    </div>
                  </div>
                  <div class="d-flex trait-value-block">
                    <div class="flex-grow-1 trait-value">
                      <% if (punkTraitData.hasOwnProperty(traitType.id)) { %>
                        <%
                        if (traitType.trait_data_type == 'date') {
                          let date = new Date((punkTraitData[traitType.id]-29)*1000);
                          %>
                          <%= date.toLocaleString("en-US") %>
                          <%
                        } else {
                          %>
                          <%= punkTraitData[traitType.id] %>
                          <%
                        }
                        %>
                      <% } else { %>
                        None (Missing Trait)
                      <% } %>
                    </div>
                    <div class="trait-value-count">
                      <% if (punkTraitData.hasOwnProperty(traitType.id)) { %>
                        <%= allDetailTraitTypesData[traitType.id+'|||'+punkTraitData[traitType.id]] %>
                      <% } else { %>
                        <%= (totalPunkCount-traitType.punk_count) %>
                      <% } %>
                    </div>
                  </div>
                </div>
              <% }); %>
              <div class="mt-4">
                <div class="row">
                  <div class="col-6">
                    <h3 class="trait-type">Attribute Count</h3>
                  </div>
                  <div class="col-6 trait-type-rarity">
                    +<%= punkScore['trait_count_rarity'].toFixed(2) %>
                  </div>
                </div>
                <div class="d-flex trait-value-block">
                  <div class="flex-grow-1 trait-value">
                    <%= Object.keys(ignoredPunkTraitData).length %>
                  </div>
                  <div class="trait-value-count">
                    <%= allTraitCountTypesData[Object.keys(ignoredPunkTraitData).length] %>
                  </div>
                </div>
              </div>
            </div>
            <% } else { %>
              <h1 class="text-center">
                There's no result.
              </h1>
            <% } %>
          </div>
        </div>
      </main>
      <%- include('./component/footer'); -%>
    </div>
    <script type="text/javascript">
      try {var urlhash = window.location.hash;
      if (!urlhash.match("fromapp"))
      {if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i)))
      {window.location="./mobile";}}}catch(err){}
    </script>
  </body>
</html>
